%section.wrapper
  / page start
  .row
    .col-sm-6
      %section.panel
        %header.panel-heading
          Default Buttons
        .panel-body
          %button.btn.btn-default{:type => "button"} Default
          %button.btn.btn-primary{:type => "button"} Primary
          %button.btn.btn-success{:type => "button"} Success
          %button.btn.btn-info{:type => "button"} Info
          %button.btn.btn-warning{:type => "button"} Warning
          %button.btn.btn-danger{:type => "button"} Danger
    .col-sm-6
      %section.panel
        %header.panel-heading
          Drop Shadow Buttons
        .panel-body
          %button.btn.btn-shadow.btn-default{:type => "button"} Default
          %button.btn.btn-shadow.btn-primary{:type => "button"} Primary
          %button.btn.btn-shadow.btn-success{:type => "button"} Success
          %button.btn.btn-shadow.btn-info{:type => "button"} Info
          %button.btn.btn-shadow.btn-warning{:type => "button"} Warning
          %button.btn.btn-shadow.btn-danger{:type => "button"} Danger
  .row
    .col-sm-6
      %section.panel
        %header.panel-heading
          Rounded Buttons
        .panel-body
          %button.btn.btn-round.btn-default{:type => "button"} Default
          %button.btn.btn-round.btn-primary{:type => "button"} Primary
          %button.btn.btn-round.btn-success{:type => "button"} Success
          %button.btn.btn-round.btn-info{:type => "button"} Info
          %button.btn.btn-round.btn-warning{:type => "button"} Warning
          %button.btn.btn-round.btn-danger{:type => "button"} Danger
      %section.panel
        %header.panel-heading
          Dropdowns Button
        .panel-body
          .btn-group
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              Default
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Separated link
          / /btn-group
          .btn-group
            %button.btn.btn-primary.dropdown-toggle.btn-sm{"data-toggle" => "dropdown", :type => "button"}
              Primary
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Separated link
          / /btn-group
          .btn-group
            %button.btn.btn-success.dropdown-toggle.btn-xs{"data-toggle" => "dropdown", :type => "button"}
              Success
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Separated link
          / /btn-group
      %section.panel
        %header.panel-heading
          Split Dropdowns Button
        .panel-body
          .btn-group
            %button.btn.btn-white{:type => "button"} Default
            %button.btn.btn-white.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Separated link
          / /btn-group
          .btn-group.dropup
            %button.btn.btn-white{:type => "button"} Dropup
            %button.btn.btn-white.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Separated link
          / /btn-group
      %section.panel
        %header.panel-heading
          Justified Button groups
        .panel-body
          .btn-group.btn-group-justified
            %a.btn.btn-success{:href => "#"} Left
            %a.btn.btn-info{:href => "#"} Middle
            %a.btn.btn-danger{:href => "#"} Right
      %section.panel
        %header.panel-heading
          Block level button
        .panel-body
          %button.btn.btn-success.btn-lg.btn-block{:type => "button"} Block level button
          %button.btn.btn-warning.btn-block{:type => "button"} Block level button
          %button.btn.btn-danger.btn-xs.btn-block{:type => "button"} Block level button
      %section.panel
        %header.panel-heading
          Star Rating Example
        .panel-body
          %span.rating
            %span.star
            %span.star
            %span.star
            %span.star
            %span.star
    .col-sm-6
      %section.panel
        %header.panel-heading
          Buttons Size
        .panel-body
          %button.btn.btn-default.btn-lg{:type => "button"} Large Button
          %button.btn.btn-primary{:type => "button"} Default Button
          %button.btn.btn-success.btn-sm{:type => "button"} Small Button
          %button.btn.btn-info.btn-xs{:type => "button"} Extra Small Button
      %section.panel
        %header.panel-heading
          Buttons With Icon
        .panel-body
          %button.btn.btn-primary{:type => "button"}
            %i.fa.fa-cloud
            Cloud
          %button.btn.btn-success{:type => "button"}
            %i.fa.fa-eye
            View
          %button.btn.btn-info{:type => "button"}
            %i.fa.fa-refresh
            Update
          %button.btn.btn-default{:type => "button"}
            %i.fa.fa-cloud-upload
            Upload
          %button.btn.btn-white{"data-toggle" => "button"}
            %i.fa.fa-thumbs-up.text-info
            55
          %button.btn.btn-white{"data-toggle" => "button"}
            %i.fa.fa-home
      %section.panel
        %header.panel-heading
          Group Buttons
        .panel-body
          .btn-row
            .btn-group
              %button.btn.btn-white{:type => "button"} Left
              %button.btn.btn-white{:type => "button"} Middle
              %button.btn.btn-white{:type => "button"} Right
            .btn-group.btn-group-sm
              %button.btn.btn-white{:type => "button"} Left
              %button.btn.btn-white{:type => "button"} Middle
              %button.btn.btn-white{:type => "button"} Right
          %p.text-muted Vertical button groups
          .btn-row
            .btn-group-vertical
              %button.btn.btn-white{:type => "button"} Top
              %button.btn.btn-white{:type => "button"} Middle
              %button.btn.btn-white{:type => "button"} Bottom
          %p.text-muted Nested button groups
          .btn-row
            .btn-group
              %button.btn.btn-default{:type => "button"} 1
              %button.btn.btn-danger{:type => "button"} 2
              %button.btn.btn-default{:type => "button"} 3
              .btn-group
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  Dropdown
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Dropdown link 1
                  %li
                    %a{:href => "#"} Dropdown link 2
                  %li
                    %a{:href => "#"} Dropdown link 3
          %p.text-muted Multiple button groups
          .btn-row
            .btn-toolbar
              .btn-group
                %button.btn.btn-info{:type => "button"} 1
                %button.btn.btn-info.active{:type => "button"} 2
                %button.btn.btn-info{:type => "button"} 3
                %button.btn.btn-info{:type => "button"} 4
              .btn-group
                %button.btn.btn-success{:type => "button"} 5
                %button.btn.btn-success{:type => "button"} 6
                %button.btn.btn-success{:type => "button"} 7
              .btn-group
                %button.btn.btn-warning{:type => "button"} 8
          %p.text-muted Group Checkbox
          .btn-row
            .btn-group{"data-toggle" => "buttons"}
              %label.btn.btn-primary
                %input{:type => "checkbox"}/
                Option 1
              %label.btn.btn-primary
                %input{:type => "checkbox"}/
                Option 2
              %label.btn.btn-primary
                %input{:type => "checkbox"}/
                Option 3
          %p.text-muted Group Radio
          .btn-row
            .btn-group{"data-toggle" => "buttons"}
              %label.btn.btn-default
                %input#option1{:name => "options", :type => "radio"}/
                Option 1
              %label.btn.btn-default
                %input#option2{:name => "options", :type => "radio"}/
                Option 2
              %label.btn.btn-default
                %input#option3{:name => "options", :type => "radio"}/
                Option 3
  / page end
