%section.wrapper.site-min-height
  .row
    .col-lg-12
      %p Base on Bootstrap grid system.
    .col-lg-12
      %section.panel
        .panel-body col-lg-12
  .row
    .col-lg-6
      %section.panel
        .panel-body col-lg-6
    .col-lg-6
      %section.panel
        .panel-body col-lg-6
  .row
    .col-lg-4
      %section.panel
        .panel-body col-lg-4
    .col-lg-4
      %section.panel
        .panel-body col-lg-4
    .col-lg-4
      %section.panel
        .panel-body col-lg-4
  .row
    .col-lg-3
      %section.panel
        .panel-body col-lg-3
    .col-lg-3
      %section.panel
        .panel-body col-lg-3
    .col-lg-3
      %section.panel
        .panel-body col-lg-3
    .col-lg-3
      %section.panel
        .panel-body col-lg-3
  .row
    .col-lg-2
      %section.panel
        .panel-body col-lg-2
    .col-lg-2
      %section.panel
        .panel-body col-lg-2
    .col-lg-2
      %section.panel
        .panel-body col-lg-2
    .col-lg-2
      %section.panel
        .panel-body col-lg-2
    .col-lg-2
      %section.panel
        .panel-body col-lg-2
    .col-lg-2
      %section.panel
        .panel-body col-lg-2
  .row
    .col-lg-12
      %p Mobile, tablet, and desktop
  .row
    .col-lg-4
      .row
        .col-xs-6
          %section.panel
            .panel-body col-xs-6
        .col-xs-6
          %section.panel
            .panel-body col-xs-6
    .col-lg-8
      %section.panel
        .panel-body col-lg-8
  .row
    .col-lg-6
      .row
        .col-sm-6
          %section.panel
            .panel-body col-sm-6
        .col-sm-6
          %section.panel
            .panel-body col-sm-6
    .col-lg-6
      %section.panel
        .panel-body col-lg-6
  .row
    .col-lg-8
      .row
        .col-md-6
          %section.panel
            .panel-body col-md-6
        .col-md-6
          %section.panel
            .panel-body col-md-6
    .col-lg-4
      %section.panel
        .panel-body col-lg-4
  .row
    .col-sm-6
      %section.panel
        .panel-body col-sm-6
    .col-sm-6
      %section.panel
        .panel-body col-sm-6
