%section.wrapper.site-min-height
  / page start
  .row.theme-h-color
    .col-md-6
      = image_tag "dashboard/green-bg.jpg"
      %span Green header Code format
      %p
        %code.language-html{"data-lang" => "html"}
          %span.nt <header
          %span.na class=
          %span.s "header green-bg"
          %span.nt >
          \..
          %span.nt </header>
    .col-md-6
      = image_tag "dashboard/purple-bg.jpg"
      %span Purple header Code format
      %p
        %code.language-html{"data-lang" => "html"}
          %span.nt <header
          %span.na class=
          %span.s "header purple-bg"
          %span.nt >
          \..
          %span.nt </header>
  .row.theme-h-color
    .col-md-6
      = image_tag "dashboard/dark-bg.jpg"
      %span Dark header Code format
      %p
        %code.language-html{"data-lang" => "html"}
          %span.nt <header
          %span.na class=
          %span.s "header dark-bg"
          %span.nt >
          \..
          %span.nt </header>
    .col-md-6
      = image_tag "dashboard/blue-bg.jpg"
      %span Blue header Code format
      %p
        %code.language-html{"data-lang" => "html"}
          %span.nt <header
          %span.na class=
          %span.s "header blue-bg"
          %span.nt >
          \..
          %span.nt </header>
  / page end
