= content_for :page_title, "Language Switch Bar - ActiStaff"

%section.wrapper.site-min-height
  / page start
  %h4 Language Switch Bar page sample.
  %p Please see the right top bar where have language switch bar. We just put a sample language flags with name. You can ad more languages.
  / page end
