%body.login-body
  = render "layouts/auth_pages_header"
  .container
    %form.form-signin{:action => "index.html", style:"margin:50px auto 50px;"}
      %h2.form-signin-heading sign in now
      .login-wrap
        %input.form-control{:autofocus => "", :placeholder => "User ID", :type => "text"}/
        %input.form-control{:placeholder => "Password", :type => "password"}/
        %label.checkbox
          %input{:type => "checkbox", :value => "remember-me"}/
          Remember me
          %span.pull-right
            %a{"data-toggle" => "modal", :href => "#myModal"} Forgot Password?
        %button.btn.btn-lg.btn-login.btn-block{:type => "submit"} Sign in
        %p or you can sign in via social network
        .login-social-link
          %a.facebook{:href => "index.html"}
            %i.fa.fa-facebook
            Facebook
          %a.twitter{:href => "index.html"}
            %i.fa.fa-twitter
            Twitter
        .registration
          Don't have an account yet?
          %a{:href => "registration.html"}
            Create an account
      / Modal
      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Forgot Password ?
            .modal-body
              %p Enter your e-mail address below to reset your password.
              %input.form-control.placeholder-no-fix{:autocomplete => "off", :name => "email", :placeholder => "Email", :type => "text"}/
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
              %button.btn.btn-success{:type => "button"} Submit
      / modal
  = render "layouts/dashboard_footer"

