
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>Pricing Table</h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Price</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
        <div class="row">
            <!--price start-->
            <div class="text-center feature-head">
                <h1> 30 days Free Trial on All Accounts </h1>
                <p>No risk. No hidden fees. Cancel at anytime. </p>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="pricing-table">
                    <div class="pricing-head">
                        <h1> Diamond </h1>
                        <h2>
                            <span class="note">$</span>4000 </h2>
                    </div>
                    <ul class="list-unstyled">
                        <li>8 hours coverage</li>
                        <li>500 digital images</li>
                        <li>100 A3 Hard Copy</li>
                        <li>Bridal portrait with 11X14</li>
                        <li>Engagement portrait with 11X14</li>
                        <li>Income Tax included</li>
                    </ul>
                    <div class="price-actions">
                        <a href="javascript:;" class="btn">Get Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="pricing-table">
                    <div class="pricing-head">
                        <h1> Platinum </h1>
                        <h2>
                            <span class="note">$</span>3000 </h2>
                    </div>
                    <ul class="list-unstyled">
                        <li>8 hours coverage</li>
                        <li>500 digital images</li>
                        <li>100 A3 Hard Copy</li>
                        <li>Bridal portrait with 11X14</li>
                        <li>Engagement portrait with 11X14</li>
                        <li>Income Tax included</li>
                    </ul>
                    <div class="price-actions">
                        <a href="javascript:;" class="btn">Get Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="pricing-table most-popular">
                    <div class="pricing-head">
                        <h1> Gold </h1>
                        <h2>
                            <span class="note">$</span>2000 </h2>
                    </div>
                    <ul class="list-unstyled">
                        <li>8 hours coverage</li>
                        <li>500 digital images</li>
                        <li>100 A3 Hard Copy</li>
                        <li>Bridal portrait with 11X14</li>
                        <li>Engagement portrait with 11X14</li>
                        <li>Income Tax included</li>
                    </ul>
                    <div class="price-actions">
                        <a href="javascript:;" class="btn">Get Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="pricing-table">
                    <div class="pricing-head">
                        <h1> Silver </h1>
                        <h2>
                            <span class="note">$</span>1500 </h2>
                    </div>
                    <ul class="list-unstyled">
                        <li>8 hours coverage</li>
                        <li>500 digital images</li>
                        <li>100 A3 Hard Copy</li>
                        <li>Bridal portrait with 11X14</li>
                        <li>Engagement portrait with 11X14</li>
                        <li>Income Tax included</li>
                    </ul>
                    <div class="price-actions">
                        <a href="javascript:;" class="btn">Get Now</a>
                    </div>
                </div>
            </div>
            <!--price end-->
        </div>

    </div>
    <!--container end-->
