/ footer start
%footer.footer
  .container
    .row
      .col-lg-3.col-sm-3
        %h1 contact info
        %address
          %p Address: No.28-63877 street
          %p lorem ipsum city, Country
          %p Phone : (123) 456-7890
          %p Fax : (123) 456-7890
          %p
            Email :
            %a{:href => "javascript:;"} support@vectorlab.com
      .col-lg-5.col-sm-5
        %h1 latest tweet
        .tweet-box
          %i.fa.fa-twitter
          %em
            Please follow
            %a{:href => "javascript:;"} @nettus
            for all future updates of us!
            %a{:href => "javascript:;"} twitter.com/vectorlab
      .col-lg-3.col-sm-3.col-lg-offset-1
        %h1 stay connected
        %ul.social-link-footer.list-unstyled
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-google-plus
          %li
            %a{:href => "#"}
              %i.fa.fa-dribbble
          %li
            %a{:href => "#"}
              %i.fa.fa-linkedin
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-skype
          %li
            %a{:href => "#"}
              %i.fa.fa-github
          %li
            %a{:href => "#"}
              %i.fa.fa-youtube
